.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color:#f5f7fc;
    text-align: left;
    //display: flex;
    justify-content: space-around;
    .chartInner {
      display:flex;
      flex-direction: column;
      //width: 20rem;
      height: 12rem;
    }
  }

